{% extends "main/base.html" %}
{% load static %}




{% block content %}
<section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Gestner</span></h2>
                    <p class="animate__animated animate__fadeInUp">Your printing patner, We help out all the priting problem's</p>
                    <a href="contact.html" class="btn-get-started animate__animated animate__fadeInUp">Contact us</a>
                </div>
            </div>



        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Services Section ======= -->
       <section class="skills" data-aos="fade-up">
            <div class="container">

                <div class="section-title">
                    <h2>Sorry We are still under developing this page....</h2>
                    <p>Thank your for your support we developing this page as soon as possible.</p>
                    <p>------</p>
                </div>



            </div>
        </section>
        <!-- End Why Us Section -->

    </main>

{% endblock %}
